spring:
  application:
    name: payment

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver
    username: myuser
    password: mypassword
    platform: postgresql

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8089
